html {
  background: black;
  color: white;
}

body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  margin-bottom: 20px;
  flex: 1;
}

fieldset {
  width: 300px;
  margin: 0 auto;
}


main {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 20px
}

a {
  color: #00bbff;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #00bbff;
  padding: 5px;
}

a:hover {
  background-color: #00bbff;
  color: white;
}

button {
  background-color: transparent;
  border: 1px solid #ff4646;
  color: #ff4646;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  background-color: #ff4646;
  color: white;
}


