@charset "UTF-8";
@import "colors";
@import "reset";
@import "grid";
@import "family";
@import "sizes";
@import "helpers";
@import "header";
@import "footer";

// mobile
main {
  #first {
    background-color: $green;

    .text {
      margin-top: 90px;
      color: black;
    }
  }

  #second {
    background-image: url("../img/bg-02.png");
    background-position: center;
    background-size: cover;

    .text {
      color: white;
    }
  }

  #third {
    background-color: $green;
    margin-top: 60px;

    .text {
      color: $black;
    }

    .image {
      img {
        margin-top: -110px;
      }
    }
  }

  #conectors{
    h4{
      text-align: center;
      color: $green;
      font-size: 0.6rem;
      margin-bottom: 1rem;
    }
  }

  #first,
  #second,
  #third,
  #conectors {
    padding: 2rem 1rem;
  }

  p {
    margin-top: 1rem;
    text-align: justify;
  }
}

// desktop
@media (min-width: 992px) {
  main {
    #first {
      margin-top: 40px;

      .text {
        margin-top: 0px;
      }

      .image {
        img {
          margin-top: -150px;
        }
      }
    }

    #second {
      background-image: url("../img/bg-02.png");
      background-position: center;
      background-size: cover;

      .text {
        p {
          margin-top: 3rem;
        }
      }
    }

    #third {
      margin-top: 0;

      .image {
        img {
          margin-top: 0px;
        }
      }
    }

    #first,
    #second,
    #third,
    #conectors {
      padding: 2rem 5rem;
    }
  }
}
