$blue: #007bff;
$red: #cc0c00;
$purple: #bb00ff;
$pink: #fc0281;
$cyan: #1cf7ff;
$yellow: #f5b901;
$grey: #6d6d6d;
$orange: #d26f00;
$black: #000;
$white: #fff;
$dark-grey: #111111;
$green: #5cbf14;

$primary-color: $red;
$secondary-color: #550003;
$primary-title: "Squada One";

.black {
  color: black;
}

.white {
  color: white;
}

.green {
  color: $green;
}
