// mobile
header {
  padding: 0;
  position: relative;

  #logo {
    position:absolute;
    width: 100%;
    padding: 2rem
  }

  #product-name {


    h2::after {
      content: "";
      width: 5rem;
      height: 4px;
      background-color: $green;
      display: block;
      position: absolute;
      bottom: -16px;
    }
  }
}

// desktop
@media (min-width: 992px) {
  header {
    padding: 1rem 6rem;
    padding-bottom: 150px;

    #product-name {
      margin-top: 2rem;

      h2::after {
        width: 12rem;
        height: 5px;
        bottom: -23px;
      }
    }
  }
}
