// mobile
#product-name {
  font-size: 4.5vw;
}

main p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

// desktop
@media (min-width: 992px) {
  #product-name {
    font-size: 4vw;
  }

  main p {
    font-size: 1.3rem;
  }
}
