// mobile
#product-name {
  h4 {
    font-size: 1.9rem;
  }
}

main {
  p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  }

}

// desktop
@media (min-width: 992px) {
  #product-name {
    h4 {
      font-size: 1.2rem;
    }
  }

  main {
    p {
      font-size: 1.3rem;
    }
  }
}
