@charset "UTF-8";
@import "colors";
@import "reset";
@import "grid";
@import "family";
@import "sizes";
@import "helpers";
@import "header";
@import "footer";

// mobile
main {
  img {
    padding: 1rem 0;
  }

  p {
    margin: 0.5rem 0;
    text-align: justify;
    line-height: 1.2rem;
  }
}

// desktop
@media (min-width: 992px) {
  main {
    p {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}
